body {
  padding: 0;
  background-color: #dbdbdb;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

.login-Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  margin: 30vh auto 0;
  border-radius: 15px;
  padding: 60px 10px;
  background-color: #ffffff;
}

.login-Form > * {
  width: 300px;
  text-align: center;
}

.login-Form .login-Form_InputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 45px;
}

.login-Form .login-Form_InputArea div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-Form .login-Form_Input {
  width: 100%;
}

.login-Form .login-Form_Input label {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.login-Form .login-Form_Input label:hover::before {
  content: '';
  height: 1px;
  bottom: 0;
  left: 0;
  display: inline-block;
  border-bottom: 4px solid #cdf936;
  position: absolute;
  -webkit-animation-name: border_anim;
          animation-name: border_anim;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes border_anim {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes border_anim {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.login-Form .login-Form_Input label:last-of-type {
  margin-bottom: 0;
}

.login-Form .login-Form_Input input {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #949090;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-Form .login-Form_Input input:focus {
  border-bottom: 4px solid #cdf936;
}

.login-Form #login-Form_Submit {
  font-weight: bold;
  background-color: #cdf936;
}

.login-Form #login-Form_Register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: buttonface;
}

.login-Form .login_Form_Submit {
  cursor: pointer;
  height: 45px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
}

.login-Form .login_Form_Submit:last-child {
  margin-bottom: 0;
}

.login-Form .login_Form_Submit:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=login.css.map */